@import './scss/abstracts/mixins';
.App{
  background-color: black;
  display: grid;
  place-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 3rem;
  position: relative;

  .parpado{
    background-color: white;
    border: 1px solid black;
    width: 10rem;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 10rem;
    padding: 5px;
    border-bottom: 3px solid red;
    position: relative;
    -webkit-box-shadow: inset 4px 33px 57px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 4px 33px 57px 0px rgba(0,0,0,0.75);
    box-shadow: inset 4px 33px 57px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 4px 15px 38px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 15px 38px 30px rgba(0,0,0,0.75);
    box-shadow: 4px 15px 38px 30px rgba(0,0,0,0.75);
  .container{
    width: 4.3rem;
    height: 4.3rem;
    // background: linear-gradient(rgb(195, 131, 238), rgb(81, 38, 160), rgb(161, 29, 232), rgb(60, 60, 142));
   
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    margin-left: 3rem;
    animation:rotat 20s infinite linear;
    animation: moveEyes 10s infinite linear;
    .children{
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: black;
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }      
    }
  }
  @keyframes moveEyes {
    10%{
      transform: translateX(2px);
      transition: all 0.2s ease-in-out;
    }
    20%{
      
      transform: translateY(2px);
    }
    30%{
      transform: translateX(4px);
      
    }
    40%{
      transform: translateY(4px);
      
    }
    50%{
      transform: translateX(8px);
      
    }
    60%{
      transform: translateX(8px);
      
    }
    80%{
      transform: translateY(10px);
      
    }
    90%{
      transform: translateX(22px);
      transition: all 0.2s ease-in-out;
    }

    100%{
      transform: translateY(12px);
      transition: all 0.2s ease-in-out;
      
    }
  }
  @keyframes rotat {
      to{
        rotate:360deg ;
      }
      from{
        rotate: 180deg;
      }
  }

  }



  .containerParpado{
      background-color: white;
      border: 1px solid black;
      width: 10rem;
      border-bottom-right-radius: 10rem;
      border-top-left-radius: 10rem;
      padding: 5px;
      border-bottom: 3px solid red;
      position: relative;
      -webkit-box-shadow: inset 4px 33px 57px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 4px 33px 57px 0px rgba(0,0,0,0.75);
      box-shadow: inset 4px 33px 57px 0px rgba(0,0,0,0.75);
      transition: all 0.2s ease-in-out;
    .container{
      width: 4.3rem;
      height: 4.3rem;
      // background: linear-gradient(rgb(238, 138, 131), rgb(5, 5, 2), rgb(232, 29, 73), rgb(0, 0, 0));
      border-radius: 50%;
      position: relative;
      display: grid;
      place-items: center;
      margin-left: 2rem;
      -webkit-animation: 3s rotat linear infinite;
      animation: 3s rotat linear infinite;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      transition: all 0.2s ease-in-out;
      -webkit-box-shadow: 4px 15px 38px 30px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 15px 38px 30px rgba(0,0,0,0.75);
      box-shadow: 4px 15px 38px 30px rgba(0,0,0,0.75);
      .children{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: black;
        img{
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
        }      
      }
    }
    @keyframes rotat {
      to {transform: rotate(360deg);}}
      @-webkit-keyframes rotat {from {-webkit-transform: rotate(0deg);}
    }
  }
}
